.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 100%;
  min-height: 609px;
  padding: 40px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }

  &-form__appeal {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--dark-color);
    text-align: center;
  }

  &-form__label {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
  }

  &-form__wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
  }

  &-form__field {
    display: block;
    width: 100%;
    padding: 11px 32px;
  }

  &-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-form__textarea {
    display: block;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    min-height: 120px;
    resize: none;
  }

  &-form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &-form__field,
  &-form__textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-form__field:focus,
  &-form__textarea:focus {
    border-color: var(--accent-color);
  }

  &-form__field:focus + &-form__icon {
    fill: var(--accent-color);
  }

  &-form__agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 10px;
    line-height: 1.167;
    text-align: center;

    @media screen and (min-width: 480px) {
      font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.143;
    }
  }

  &-form__agreement::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    background-image: url(../img/icon-checkbox.svg);
  }

  &-form__checkbox:checked + &-form__agreement::before {
    background-image: url(../img/icon-checked.svg);
  }

  &-form__link {
    font-size: 10px;
    margin-left: 5px;
    color: var(--accent-color);

    @media screen and (min-width: 480px) {
      font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.143;
    }
  }

  &-form__btn {
    display: block;
    margin: 0 auto;
    padding: 10px 56px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-form__btn:hover,
  &-form__btn:focus {
    background-color: var(--white-color);
    color: var(--accent-color);
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &:hover &__icon,
  &:focus &__icon {
    fill: var(--accent-color);
  }

  &__icon {
    width: 18px;
    height: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
