.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &.no-top-padding {
    padding-top: 0;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    color: var(--dark-color);

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.167;
    }

    .features & {
      display: none;

      @media screen and (min-width: 1200px) {
        display: block;
      }
    }
  }
}
